open{
    background-color: red;
}
.card{
    background-color: rgb(192, 193, 204);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    border-radius: 10px;
    box-shadow:  5px 5px 10px;
    cursor: pointer;
    transition: all .5s;
    transition: all 1s;
}